{% extends 'layout.html' %}

{% block content %}
	<div class="container">
		<section id="recover-jobs">
	        <nav aria-label="breadcrumb">
	            <ol class="breadcrumb">
	                {% for local in locations %}
	                    <li class="breadcrumb-item"><a href="/apl-wm-crm{{local['path']}}">{{local['name']}}</a></li>
	                {% endfor %}
	            </ol>
	        </nav>
			<table class="table table-striped table-dark" id="jobs">
				<thead>
	                <tr>
	                    <th scope="col">Path</th>
	                    <th scope="col">Enviroment/Folder/File</th>
	                    <th scope="col"></th>
	                </tr>
				</thead>
				<tbody>
	            {% for file_info in files_info %}
					<tr>
	                    <td><a href="/apl-wm-crm/fs/{{ file_info['path'] }}">{{ file_info['name'] }}</a></td>
	                    <td>
	                    	{% if file_info['file_folder_flag'] %}
	                    		{% if folderEnv %}
	                    			<i class="fas fa-globe"></i>
	                    		{% else %}
	                    			<i class="fas fa-folder"></i>
	                    		{% endif %}
	                    	{% else %}
	                    		<i class="far fa-file-code"></i>
	                    	{% endif %}
	                	</td>
	                	<td>
		                	{% if isRoot and file_info['file_folder_flag'] %}
		                    	<i onclick="delete_dir('{{file_info['path']}}');" style="cursor: pointer;" class="fa fa-trash"></i>
		                    {% endif %}
	                    </td>
					</tr>
	            {% endfor %}
			</tbody>
		</table>
			{% if files_info|length == 0 %}
				<div class="alert alert-dark" role="alert">
					No Files were created !
				</div>
			{% endif %}
		</section>
	</div>
	<script type="text/javascript">
		function delete_dir(path){
			fetch(`/api/fs/${path}`, {
				method: 'DELETE'
			}).then(response => console.log(response.json()));
			//window.location.href = '/fs';
		}
	</script>

	<div class="container">
		<section id="upload-scripts">
			<form method="POST" enctype=multipart/form-data action="/upload">

				<div class="form-group col-sm-7">
				    <label for="venvName">Virtual Enviroment</label>
				    <select type="text" class="form-control" id="venvName" name="venvName" aria-describedby="venvName" placeholder="Enter task name">

				    </select>
				</div>

				<input type=file name=file>
				<input type=submit value=Upload>
			</form>
		</section>
		<script src="{{ url_for('static', filename='venv_script.js') }}"></script>
	</div>
{% endblock %}