<header>
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
		<a class="navbar-brand" href="#">WindMill <i class="fas fa-wind"></i></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">

			<li class="nav-item active">
				<a class="nav-link" href="{{ url_for('runs.home') }}">Executions <span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item active">
			  <a class="nav-link" href="{{ url_for('tasks.home') }}">Jobs <span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item active">
			  <a class="nav-link" href="{{ url_for('archives.dir_listing') }}">Projects<span class="sr-only">(current)</span></a>
			</li>			

			<li class="nav-item active dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="venvDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Virtual Enviroments
			  </a>
			  <div class="dropdown-menu" aria-labelledby="venvDropdown">
				<a class="dropdown-item" href="{{ url_for('venvironments.environments_add') }}">Add</a>
				<a class="dropdown-item" href="{{ url_for('venvironments.environments') }}">Enviroments</a>
			  </div>
			</li>

			<li class="nav-item dropdown">
				<!--
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-disabled="true">
					Options
				</a>
				<div class="dropdown-menu" aria-labelledby="userDropdown">
					{% if current_user.is_authenticated %}
						<a class="dropdown-item" href="{{ url_for('main.account') }}">Account</a>
						<a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
					{% else %}
						<a class="dropdown-item" href="{{ url_for('main.register') }}">Register</a>
						<a class="dropdown-item" href="{{ url_for('main.login') }}">Login</a>
					{% endif %}
				</div>
				-->
			</li>

		  </ul>
		</div>
		<!--
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">

			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="venvDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown
			  </a>
			  <div class="dropdown-menu" aria-labelledby="venvDropdown">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			  </div>
			</li>
			<li class="nav-item">
			  <a class="nav-link disabled" href="#">Disabled</a>
			</li>
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form>
		</div>
		-->
	</nav>
</header>