section {
    padding-top: 50px;
}

table .table {
	font-size: 14px
}

td a {
    color : white;
}

td a:hover{
    color : white;
}

td i.fa{
	cursor: pointer;
}

td i.far{
	cursor: pointer;
}

.no-icon{
	color : white !important;
}

.no-icon:hover{
	cursor: default;
}

td i.fa.fa-play:hover { color : #28a745; }
td i.fa.fa-stop:hover { color : #dc3545; }
td i.fa.fa-calendar:hover { color : #d99d11; }
td i.fa.fa-edit:hover { color : #ffc107; }
td i.fa.fa-trash:hover { color : #69030d; }
td i.fa.fa-copy:hover { color : #6c757d; }
td i.fa.fa-info:hover { color : #007bff; }

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
	background: #6cf;
	display: block;
}

/*
footer p {
	height: 80px;
	color: white;
}
*/